#root {
  margin: 0 auto;
  padding: 5px 25px 20px 25px;
  min-width: 500px;
  max-width: 700px;
}
.g-header {
  font-weight: bold;
  padding-bottom: 12px;
  display: flex;
}
.g-header .g-header-item:first-child {
  width: 100%;
}
.g-header .g-header-item:last-child {
  width: 284px;
  flex-shrink: 0;
}
.g-asterisk {
  color: rgb(233, 50, 45);
}
.g-form {
  padding: 5px 0 12px;
  display: flex;
}
.g-form-field {
  padding-right: 4px;
}
.g-form-field input {
  width: 100%;
  margin-bottom: 0 !important;
}
.pure-form .g-form-field .pure-button {
  width: 50px;
  margin: 0.5px 0;
}
.g-form-field:first-child {
  width: 100%;
}
.g-form-field:nth-child(2) {
  width: 180px;
  flex-shrink: 0;
}
.g-form-field:last-child {
  white-space: nowrap;
  padding-right: 0;
  width: 100px;
  flex-shrink: 0;
}
